@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thêm vào file index.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(71, 85, 105, 0.5); /* Màu slate-600 mờ */
  border-radius: 20px;
}